In [ ]:
import pandas as pd
banks_data={
"Customer ID":[111,112,113,114],
"Transaction Type":["OB","OB","OA","OA"],
"Transaction AMOUNT":[100,2100,400,9000],
"Balace":[10000,20000,30000,12000]
}

banks_dataFrame=pd.DataFrame(banks_data)
#print(banks_dataFrame)
withdraw_amount=banks_dataFrame[banks_dataFrame["Transaction AMOUNT"]>500]
print(withdraw_amount)
banks_dataFrame["Interst"]=banks_dataFrame["Balace"]*0.05
print(banks_dataFrame)

Sum_of_transaction_ammount=banks_dataFrame["Transaction AMOUNT"].sum()
print("The total transaction amount is: ",Sum_of_transaction_ammount)

   Customer ID Transaction Type  Transaction AMOUNT  Balace
1          112               OB                2100   20000
3          114               OA                9000   12000
   Customer ID Transaction Type  Transaction AMOUNT  Balace  Interst
0          111               OB                 100   10000    500.0
1          112               OB                2100   20000   1000.0
2          113               OA                 400   30000   1500.0
3          114               OA                9000   12000    600.0
The tootal transaction amount is:  11600