In [20]:
import pandas as pd
import numpy as np
import haversine
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

#Importing credit card csv file
credit_card_data=pd.read_csv('C:/Users/Hp/Documents/IDATA/Python/fraudTest.csv')
#Display the first 5 rows
credit_card_data.head

<bound method NDFrame.head of         Unnamed: 0 trans_date_trans_time            cc_num  \
0                0   2020-06-21 12:14:25  2291163933867244
1                1   2020-06-21 12:14:33  3573030041201292
2                2   2020-06-21 12:14:53  3598215285024754
3                3   2020-06-21 12:15:15  3591919803438423
4                4   2020-06-21 12:15:17  3526826139003047
...            ...                   ...               ...
555714      555714   2020-12-31 23:59:07    30560609640617
555715      555715   2020-12-31 23:59:09  3556613125071656
555716      555716   2020-12-31 23:59:15  6011724471098086
555717      555717   2020-12-31 23:59:24     4079773899158
555718      555718   2020-12-31 23:59:34  4170689372027579

                                    merchant        category     amt    first  \
0                      fraud_Kirlin and Sons   personal_care    2.86     Jeff
1                       fraud_Sporer-Keebler   personal_care   29.84   Joanne
2       fraud_Swaniawski, Nitzsche and Welch  health_fitness   41.28   Ashley
3                          fraud_Haley Group        misc_pos   60.05    Brian
4                      fraud_Johnston-Casper          travel    3.19   Nathan
...                                      ...             ...     ...      ...
555714                 fraud_Reilly and Sons  health_fitness   43.77  Michael
555715                  fraud_Hoppe-Parisian       kids_pets  111.84     Jose
555716                       fraud_Rau-Robel       kids_pets   86.88      Ann
555717                 fraud_Breitenberg LLC          travel    7.99     Eric
555718                     fraud_Dare-Marvin   entertainment   38.13   Samuel

            last gender                       street  ...      lat      long  \
0        Elliott      M            351 Darlene Green  ...  33.9659  -80.9355
1       Williams      F             3638 Marsh Union  ...  40.3207 -110.4360
2          Lopez      F         9333 Valentine Point  ...  40.6729  -73.5365
3       Williams      M  32941 Krystal Mill Apt. 552  ...  28.5697  -80.8191
4         Massey      M     5783 Evan Roads Apt. 465  ...  44.2529  -85.0170
...          ...    ...                          ...  ...      ...       ...
555714     Olson      M          558 Michael Estates  ...  40.4931  -91.8912
555715   Vasquez      M          572 Davis Mountains  ...  29.0393  -95.4401
555716    Lawson      F   144 Evans Islands Apt. 683  ...  46.1966 -118.9017
555717   Preston      M   7020 Doyle Stream Apt. 951  ...  44.6255 -116.4493
555718      Frey      M     830 Myers Plaza Apt. 384  ...  35.6665  -97.4798

        city_pop                     job         dob  \
0         333497     Mechanical engineer  1968-03-19
1            302  Sales professional, IT  1990-01-17
2          34496       Librarian, public  1970-10-21
3          54767            Set designer  1987-07-25
4           1126      Furniture designer  1955-07-06
...          ...                     ...         ...
555714       519            Town planner  1966-02-13
555715     28739          Futures trader  1999-12-27
555716      3684                Musician  1981-11-29
555717       129            Cartographer  1965-12-15
555718    116001             Media buyer  1993-05-10

                               trans_num   unix_time  merch_lat  merch_long  \
0       2da90c7d74bd46a0caf3777415b3ebd3  1371816865  33.986391  -81.200714
1       324cc204407e99f51b0d6ca0055005e7  1371816873  39.450498 -109.960431
2       c81755dbbbea9d5c77f094348a7579be  1371816893  40.495810  -74.196111
3       2159175b9efe66dc301f149d3d5abf8c  1371816915  28.812398  -80.883061
4       57ff021bd3f328f8738bb535c302a31b  1371816917  44.959148  -85.884734
...                                  ...         ...        ...         ...
555714  9b1f753c79894c9f4b71f04581835ada  1388534347  39.946837  -91.333331
555715  2090647dac2c89a1d86c514c427f5b91  1388534349  29.661049  -96.186633
555716  6c5b7c8add471975aa0fec023b2e8408  1388534355  46.658340 -119.715054
555717  14392d723bb7737606b2700ac791b7aa  1388534364  44.470525 -117.080888
555718  1765bb45b3aa3224b4cdcb6e7a96cee3  1388534374  36.210097  -97.036372

        is_fraud
0              0
1              0
2              0
3              0
4              0
...          ...
555714         0
555715         0
555716         0
555717         0
555718         0

[555719 rows x 23 columns]>

In [21]:
## Check for missing values in the dataset in each coumns
credit_card_data.isnull().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [22]:
#Handling missing values using median imputation strategy for amt column because it is skewed data
credit_card_data['amt']=credit_card_data['amt'].fillna(credit_card_data['amt'].median())
#Handling missing values using mode imputation strategy for category  column, replace it with the most frequent value
credit_card_data['category']=credit_card_data['category'].fillna(credit_card_data['category'].mode())

# Verify that missing values have been handled
print(credit_card_data.isnull().sum())

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [23]:
#1, Removeduplicates and inconsistent data if their is
# Check for duplicates in the entire dataset
duplicates=credit_card_data.duplicated()
# Display the number of duplicate rows
print(f'Number of duplicate rows: {duplicates.sum()}')
# View the duplicate rows (optional)
print(credit_card_data[duplicates])

Number of duplicate rows: 0
Empty DataFrame
Columns: [Unnamed: 0, trans_date_trans_time, cc_num, merchant, category, amt, first, last, gender, street, city, state, zip, lat, long, city_pop, job, dob, trans_num, unix_time, merch_lat, merch_long, is_fraud]
Index: []

[0 rows x 23 columns]

In [17]:
#2, Removeduplicates and inconsistent data
credit_card_data=credit_card_data.drop_duplicates(inplace=True)
# Verify if the duplicates row are removed
print(f'Number of duplicate rows: {duplicates.sum()}')

Number of duplicate rows: 0

In [24]:
print(type(credit_card_data))
print(credit_card_data.head())

<class 'pandas.core.frame.DataFrame'>
   Unnamed: 0 trans_date_trans_time            cc_num  \
0           0   2020-06-21 12:14:25  2291163933867244
1           1   2020-06-21 12:14:33  3573030041201292
2           2   2020-06-21 12:14:53  3598215285024754
3           3   2020-06-21 12:15:15  3591919803438423
4           4   2020-06-21 12:15:17  3526826139003047

                               merchant        category    amt   first  \
0                 fraud_Kirlin and Sons   personal_care   2.86    Jeff
1                  fraud_Sporer-Keebler   personal_care  29.84  Joanne
2  fraud_Swaniawski, Nitzsche and Welch  health_fitness  41.28  Ashley
3                     fraud_Haley Group        misc_pos  60.05   Brian
4                 fraud_Johnston-Casper          travel   3.19  Nathan

       last gender                       street  ...      lat      long  \
0   Elliott      M            351 Darlene Green  ...  33.9659  -80.9355
1  Williams      F             3638 Marsh Union  ...  40.3207 -110.4360
2     Lopez      F         9333 Valentine Point  ...  40.6729  -73.5365
3  Williams      M  32941 Krystal Mill Apt. 552  ...  28.5697  -80.8191
4    Massey      M     5783 Evan Roads Apt. 465  ...  44.2529  -85.0170

   city_pop                     job         dob  \
0    333497     Mechanical engineer  1968-03-19
1       302  Sales professional, IT  1990-01-17
2     34496       Librarian, public  1970-10-21
3     54767            Set designer  1987-07-25
4      1126      Furniture designer  1955-07-06

                          trans_num   unix_time  merch_lat  merch_long  \
0  2da90c7d74bd46a0caf3777415b3ebd3  1371816865  33.986391  -81.200714
1  324cc204407e99f51b0d6ca0055005e7  1371816873  39.450498 -109.960431
2  c81755dbbbea9d5c77f094348a7579be  1371816893  40.495810  -74.196111
3  2159175b9efe66dc301f149d3d5abf8c  1371816915  28.812398  -80.883061
4  57ff021bd3f328f8738bb535c302a31b  1371816917  44.959148  -85.884734

   is_fraud
0         0
1         0
2         0
3         0
4         0

[5 rows x 23 columns]

In [26]:
#Feature engineering
# Convert the 'trans_date_trans_time' column to datetime format
credit_card_data['trans_date_trans_time'] = pd.to_datetime(credit_card_data['trans_date_trans_time'])

credit_card_data['time_since_last_tx'] = credit_card_data.groupby('cc_num') ['trans_date_trans_time'].diff().dt.seconds
credit_card_data['distance_to_merchant'] = haversine(credit_card_data['lat'], credit_card_data['long'],
credit_card_data['merch_lat'], credit_card_data['merch_long'])

TypeError: 'module' object is not callable. Did you mean: 'haversine.haversine(...)'?